/ArinaKursach/.idea/.gitignore
/ArinaKursach/.idea/ArinaKursach.iml
/ArinaKursach/.idea/misc.xml
/ArinaKursach/.idea/modules.xml
/ArinaKursach/.idea/inspectionProfiles/profiles_settings.xml
/ArinaKursach/.idea/vcs.xml
